# .dockerignore
.git/
.env
docs/
node_modules/
tests/
staticfiles/
venv/
wyvern.db

.travis.yml
env.example
.gitattributes
.coveragerc
docker-compose.yml
Dockerfile-dev
app.json
.editorconfig
.gitignore
dev.yml
.pylintrc
LICENSE
