{% extends "base.html" %}

{% load static %}{% load i18n %}
{% block title %}{{ group.name }}{% endblock %}

{% block extrascripts %}
    <link href="{% static 'css/group_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block extraendscripts %}
    <script src="{% static 'js/RTCMultiConnection3.js' %}"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="{% static 'js/group_detail.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content" class="row-fluid">

        <div id="videos" class="col-lg-10 col-md-9 col-sm-12 col-xs-12"></div>

        <div id="chat" class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <div id="messages">
                <div class="message server">
                    <div class="user">Server</div>
                    <div class="text">Welcome to {{ group.name }}, type '/help' for server commands</div>
                </div>
            </div>
            <div id="input">
                <textarea id="text-box"></textarea>
            </div>
        </div>

        <script type="application/javascript">
            var action = 'open';//'{{ action }}';
            var group = 'b';//'{{ group }}';
            var uuid = 'b';//'{{ uuid }}';
        </script>
    </div>
{% endblock content %}
