{% extends "base.html" %}

{% load static %}{% load i18n %}
{% block title %}Groups{% endblock %}

{% block content %}

    <div class="container">

        <h2>Groups</h2>

        <div class="list-group">
            {% for group in group_list %}
                <a href="{% url 'users:detail' group.name %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ group.name }}</h4>
                </a>
            {% endfor %}
        </div>

{#        <script type="application/javascript">#}
{#            $("#add-group").post('');#}
{#        </script>#}
    </div>
{% endblock content %}
