{% extends "base.html" %}

{% load static %}{% load i18n %}
{% block title %}Groups{% endblock %}

{% block content %}

    <div class="container">

        <h2>Create Category</h2>

        <form action="{% url 'chat:group_form' category.id %}" method="post">
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value="{{ current_name }}">
            <input type="submit" value="OK">
        </form>

        {#        <script type="application/javascript">#}
        {#            $("#add-group").post('');#}
        {#        </script>#}
    </div>
{% endblock content %}
