{% extends "base.html" %}

{% load static %}{% load i18n %}
{% block title %}Groups{% endblock %}

{% block content %}
    <div class="category-list row-fluid">
        {% for category in category_list %}
            <div>
                <a href="{% url 'chat:detail' category.id %}">
                    <h2>{{ category.name }}</h2>
                </a>

                <div class="row">
                    {% for group in category.group_set.all %}
                        <div class="joinable-group col-md-offset-1 col-md-2 thumbnail">
                            <h4 class="text-center">{{ group.name }}</h4>

                            <p>{{ group.description }}</p>

                            <button class="btn">Join</button>
                            {# {% url 'chat:detail' category.name %} #}
                        </div>
                    {% endfor %}

                    <a class="add-group joinable-group col-md-offset-1 col-md-2 thumbnail"
                       {#href="{% url 'chat:create' category.name %}"#}>
                        <h4 class="glyphicon glyphicon-plus"></h4>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
