.category-list {
  width: 95%;
  margin: auto; }
  .category-list .add-group {
    border: dashed 2px #ECF0F1;
    background: none; }
    .category-list .add-group h4 {
      width: 100%;
      text-align: center; }
  .category-list .joinable-group {
    margin-left: 22px; }
